@model WebApplication1.Models.Expenditure

@{
    ViewBag.Title = "Create";
}

<h2>Thêm tiền chi</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.SốTiền, "Số Tiền", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SốTiền)
                @Html.ValidationMessageFor(model => model.SốTiền)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChú, "Ghi Chú", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChú)
                @Html.ValidationMessageFor(model => model.GhiChú)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




